@charset "UTF-8";
/* CSS Document */

/*Entire hero section */
.hero {
	font-family: Tahoma, Verdana, sans-serif;
}

.back a {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 25px;
	text-decoration: underline;
	color: #08253A;
}

.back a:hover {
	color: #da2d23;
}

.back {
	margin-top: 10px;
	margin-bottom: -70px;
	margin-left: 10px;
}

/*Just the text*/
.hero h1 {
	font-size: 50px;
	color: #08253A;
	text-align: center;
}

.container hr {
	border-top: 2px solid #da2d23;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -20px;
	clear: both;
}

#text {
	margin-left: 5%; 
	margin-right: 2%;
	width: 40%;
	float: left;
}

#text p {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	line-height: 200%;
}

#text p a {
	text-decoration: underline;
	color: #08253A;
}

#text p a:hover {
	color: #0B4F81;
}
	
#image {
	width: 48%;
	height: auto;
	float: left;
	margin-top: 30px;
}

#image img {
	max-width: 100%;
}
