@charset "UTF-8";
/* CSS Document */

.container {
}

/*Entire hero section */
.hero {
	font-family: Tahoma, Verdana, sans-serif;
}

/*Just the text*/
.hero h1 {
	font-size: 50px;
	color: #08253A;
	text-align: center;
}

.container hr {
	border-top: 2px solid #da2d23;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -20px;
	clear: both;
}

.icons {
	margin-top: 60px;
}

ul {
	list-style: none;
}

.icons li {
	float: left;
	margin-left: 14%;
	text-align: center;
	border: 0.5px solid gray;
	border-radius: 40px;
	background-size: fixed;
	background-color: #F1F1F1;
}

.icons li img {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

.icons li h2 a {
	font-size: 25px;
	font-family: Tahoma;
	color: #08253A;
	text-decoration: none;
}

.icons h2 a:hover {
	color: #0B4F81;
	text-decoration: underline;
	text-decoration-style: dotted;
}

#leftbox {
	float:left; 
    width:45%;
    height: auto;
	margin-top: 50px;
	margin-left: 5%;
}

#rightbox {
	float:right;
  	width:45%;
	height: 800px;
	margin-top: 50px;
	margin-right: 5%;
}

#rightbox img {
	max-height: 90%;
	max-width: 100%;
	margin-left: 5%;
	margin-right: 7%;
	border: 3px solid #da2d23;

}

#secsect p {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	line-height: 200%;
	/*border: 1px dotted #888888;*/
}
            
#secsect hr {
	text-align:center;
	margin-top: 300px;
}